<html>

<head>
  <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}"
</head>
<body>
  <h1>Organize 4 College</h1>
  <h2>Add A New College in the Region of {{region}}</h2>

  <form action="#" method = 'POST'>

  <p>Name:</p>
  <input type='text' size='55' name='college_name' required='required'></br>
  <p>Location:</p>
  <input type='text' size='55' name='location'>
  </br>
  <p>Phone Number:</p>
  <input type='text' size='55' name='phone_number'>
  </br>
  <p>Type of College:</p>
  <input type='text' size='55' name='college_type'>
  </br>
  <p>Your Notes:</p>
  <textarea name='client_notes' cols="90" rows="10"></textarea>
  </br>
  <input type="reset" value='Reset All'>
  </br>
  </br>
  </br>
  </br>
  <input type='submit' value='Create'><span> | </span><a href='{{url_for('showRegionColleges', region=region)}}'>Cancel</a>

  </form>
</body>

</html>
