<!DOCTYPE html>
<html>

<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="//apis.google.com/js/platform.js?onload=start"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">

  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>
<nav class="navbar navbar-expand-md  fixed-top navbar-dark bg-dark">
  <a class="navbar-brand"><img src="{{url_for('static', filename='favicon.ico')}}" width="60" height=auto style="margin-right:10px;" class="rounded border border-white"></a>
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href='{{url_for('showRegions')}}'>Home<span class="sr-only">(current)</span></a>
    {% for x in regions %}
    <a class="nav-item nav-link active" href='{{url_for('showRegionColleges', region=x.name)}}'>{{x.name}}<span class="sr-only">(current)</span></a>
    {% endfor %}
  </div>

</nav>



<body>
  <div style="margin-top: 100px;margin-left: 5px;margin-bottom:100px;">
  <div class="container">
    <section class="jumbotron text-center bg-light">
      <div class="container">
        <h1 class="jumbotron-heading">Organize 4 College</h1>
        <p class="lead text-muted">
          Choose a provider in order to login
        </p>
      </div>
    </section>
      <hr class="style15" style="margin-bottom: 30px;">

      <script>
      // GITHUB LOGIN
      function signInCallbackgithub(authResult) {
        if (authResult['code']) {
          // Hide the sign-in button now that the user is authorized
          $('#signinButtongithub').attr('style', 'display: none');
          // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the
            type: 'POST',
            url: '/github_connect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result2').html('Login Successful!</br>' + result + '</br>Redirecting...')
                setTimeout(function() {
                  window.location.href = "/region";
                }, 4000);

              } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result2').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }

          });
        }
      }
      // END OF GITHUB
      </script>

      <!-- FACE BOOK SIGNIN SCRIPT -->
      <script>
      window.fbAsyncInit = function() {
      FB.init({
        appId      : '893060907752291',
        cookie     : true,  // enable cookies to allow the server to access
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v3.2'
      });
      };
      // Load the SDK asynchronously so rest of page can load w/o it
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      // when facebook button clicked this function called
      function sendTokenToServer() {
        var access_token = FB.getAuthResponse()['accessToken'];
        console.log(access_token)
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
         $.ajax({
          type: 'POST',
          url: '/fbconnect?state={{STATE}}',
          processData: false,
          data: access_token,
          contentType:
          'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#reslt').html('Login Successful!</br>'+ result + '</br>Redirecting...')
             setTimeout(function() {
              window.location.href = "/region";
             }, 4000);

          } else {
            $('#reslt').html('Failed to make a server-side call. Check your configuration and console.');
             }
          }

      });
        });
      }


    </script>
      <!-- END FACEBOOK SIGN IN SCRIPT -->
      <!-- GOOGLE PLUS SIGN IN SCRIPT-->


<div class="row">
      <div class="col-sm-4">
        <div class="row"><div id="result"></div></div>
        <div class="row">
          <div class="card mb-4 box-shadow">
            <!-- img -->
            <img class="card-img-top rounded" src="{{url_for('static', filename='googleplus2.png')}}" alt="Image not found" height="230px" style="padding-left:20px;padding-right:20px;padding-top:10px;"/>
            <div class="card-body">
              <!-- title  -->
              <p class="card-text">Login with Google</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- login button -->
                  <span class="g-signin" data-scope="openid email profile" data-clientid="965977437418-uk64d9dk4gvdu1hsod0etp7jffln6mi5.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
                 <a href="">Login with google</a>
                 </span>
                 <script>
                   function signInCallback(authResult) {
                     if (authResult['code']) {
                       // Hide the sign-in button now that the user is authorized
                       $('#signinButton').attr('style', 'display: none');
                       // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the
                         type: 'POST',
                         url: '/gconnect?state={{STATE}}',
                         processData: false,
                         data: authResult['code'],
                         contentType: 'application/octet-stream; charset=utf-8',
                         success: function(result) {
                           // Handle or verify the server response if necessary.
                           if (result) {
                             $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                             setTimeout(function() {
                               window.location.href = "/region";
                             }, 4000);

                           } else if (authResult['error']) {
                             console.log('There was an error: ' + authResult['error']);
                           } else {
                             $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                           }
                         }

                       });
                     }
                   }
                 </script>
                 <!--END GOOGLE PLUS SIGN IN SCRIPT-->
                   <!-- <div class="row"><div style="margin-left:15px"><div><span id="signinButton" class="g-signin" data-scope="openid email profile" data-clientid="965977437418-uk64d9dk4gvdu1hsod0etp7jffln6mi5.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force"></span></div></div></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row"><div id="reslt"></div></div>
        <div class="row">
        <div class="card mb-4 box-shadow">
          <!-- img -->
          <img class="card-img-top rounded" src="{{url_for('static', filename='facebook.png')}}" alt="Image not found" height="230px" style="padding-left:20px;padding-right:20px;padding-top:10px;"/>
          <div class="card-body">
            <!-- title  -->
            <p class="card-text">Login with Facebook</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <!-- login button --> <!-- use facebook SDK to create facebook login -->
                <button><fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();"><!-- can write what want for face book button here --><a href='javascript:sendTokenToServer()'>Login with Facebook</a></fb:login-button></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-sm-4">
        <div class="row"><div id="result2"></div></div>
        <div class="row">
        <div class="card mb-4 box-shadow">
          <div id="result2"></div>
          <!-- img -->
          <img class="card-img-top rounded" src="{{url_for('static', filename='github.png')}}" alt="Image not found" height="230px" style="padding-left:20px;padding-right:20px;padding-top:10px;"/>
          <div class="card-body">
            <!-- title  -->
            <p class="card-text">Login with GitHub</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <a href="https://github.com/login/oauth/authorize?client_id=12d77ff252a620774d4d&state={{STATE}}" id="signinButtongithub">Login with GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
</div>


</div>
</div>
</body>

</html>
